
.icon-mail-alt:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */